// COLORI PRINCIPALI
$verde:  #00c922;
$rosso:  #d40000;
$giallo: #ffd000;
$background: #492D1C; 
$element1: #8A8D57;  
$element2: #EB9C4C;
$element3: #F3E5C8;
// EFFETTI E DISTANZIAMENTI

#root {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.alg-elements{
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.status-tavoli{
     display: flex;
    justify-content: flex-end;
    gap: 100px;
    background-color: $element1;
    padding: 15px;
    border-radius: 15px;
}
.panel-aggiungi-tavolo{
    position: fixed;
    right: 35px;
    display: flex;
    flex-direction: column;
    top: 100px;
    width: 20%;
    gap: 60px;
    background-color: aquamarine;
    z-index: 10;
}

.sala {
  position: relative;
  height: 80vh;
  padding: 20px;
  border: 3px dashed black;
}

.tavolo-card {
  position: absolute;  
  width: 180px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  color: #222;
  display: flex;
  flex-direction: column;
  gap: 8px;

  // stati annidati dentro la carta
  &.tavolo-libero    { background-color: $verde; }
  &.tavolo-occupato  { background-color: $rosso; }
  &.tavolo-riservato { background-color: $giallo; }
}

.pannello-prenotazioni{
    position: fixed;
    bottom: 10px;
    display: flex;
    width: 90%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.prenotazione-card {
  cursor: pointer; 
  padding: 8px;
  margin-bottom: 6px;
  border-radius: 8px;
  background: #eee;

  &.selezionata {
    outline: 3px solid #4a90d9; 
    background-color: gold;
    opacity: 0.75; 
  }
}
